

.blogPosts_wrap {
    min-height: 100vh;
    padding: 10px;

    > .posts_title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        
        > span {
            font-size: 1.5em;
        }

        > button > a {
            text-decoration: none;
            color: $font-white;
        }
    }
}