

.post_wrap {
    min-height: 100vh;
    padding: 20px;
    
    > select {
        margin-bottom: 20px;
    }
}
.post_btn {
    margin: 20px 0;
    text-align: center;

    > button:nth-child(2) {
        margin: 0 15px;
    }
}